.bottom-tab-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.bottom-tab-card {
    width: 100%;
    height: 80px;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.bottom-tab-card a {
    text-decoration: none;
    color: black !important;
}
.bottom-tab-card a:visited{
    color: black;
}